docs/nodered_flows/flows.json
[{"id":"df51f7b148ab9bdf","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"e0fa7bf8e8ce21d9","type":"group","z":"df51f7b148ab9bdf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["423876b721be9ec5","91f76d50316d1412","22e40b9d47617810","0d910210b875df0a","71935a95158b302e","69879b9468812f39","b67b7935d491fa38","2316eee3976f4539","457699f33bad6ea0","d006ce85627d664c","94a91ac3dc9af920","b6ebc624538939ef","168dfe5a08859351"],"x":804,"y":539,"w":822,"h":442},{"id":"5bbcfd2e039d0410","type":"group","z":"df51f7b148ab9bdf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f679ded0e230dea6","7a25b0da35c07f0b","fc4f74f115d94eb2","cc3f742294ad0954","b04c7c0deab760bb","db9857878b0664e8","542db5bdc045cfc8","a3aacc82843d7118","4f4a2a9e340d4eb6","fd9f1b770b5a21ad","cbbfb44844e87395","3722062762ece6e2","6dcd95a58ecd5624","80d52bb4e6c9f889","75605ead56d513ae","fc0c1f41e7df99d7"],"x":64,"y":59,"w":722,"h":722},{"id":"dfb9cc3be6df91ae","type":"group","z":"df51f7b148ab9bdf","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1d6520d8c8cba528","64c9701b60867364","c67ae87b90d5489c","96f61295fc83d748","376dc8727913d25e","61ad2bc2ad6e34ee","da1bc88d38e141b4"],"x":874,"y":59,"w":812,"h":302},{"id":"423876b721be9ec5","type":"mqtt out","z":"df51f7b148ab9bdf","g":"e0fa7bf8e8ce21d9","name":"","topic":"itlab/dryer/commands/fan_pwm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"943d6268c98478c9","x":1450,"y":760,"wires":[]},{"id":"91f76d50316d1412","type":"inject","z":"df51f7b148ab9bdf","g":"e0fa7bf8e8ce21d9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":980,"y":760,"wires":[["22e40b9d47617810"]]},{"id":"22e40b9d47617810","type":"random","z":"df51f7b148ab9bdf","g":"e0fa7bf8e8ce21d9","name":"","low":1,"high":"255","inte":"true","property":"payload","x":1180,"y":760,"wires":[["423876b721be9ec5"]]},{"id":"0d910210b875df0a","type":"mqtt out","z":"df51f7b148ab9bdf","g":"e0fa7bf8e8ce21d9","name":"","topic":"itlab/dryer/commands/heater_pwm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"943d6268c98478c9","x":1460,"y":620,"wires":[]},{"id":"71935a95158b302e","type":"random","z":"df51f7b148ab9bdf","g":"e0fa7bf8e8ce21d9","name":"","low":1,"high":"255","inte":"true","property":"payload","x":1180,"y":620,"wires":[["0d910210b875df0a"]]},{"id":"69879b9468812f39","type":"mqtt out","z":"df51f7b148ab9bdf","g":"e0fa7bf8e8ce21d9","name":"","topic":"itlab/dryer/commands/led_pwm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"943d6268c98478c9","x":1450,"y":940,"wires":[]},{"id":"b67b7935d491fa38","type":"random","z":"df51f7b148ab9bdf","g":"e0fa7bf8e8ce21d9","name":"","low":1,"high":"255","inte":"true","property":"payload","x":1180,"y":940,"wires":[["69879b9468812f39"]]},{"id":"f679ded0e230dea6","type":"debug","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":100,"wires":[]},{"id":"7a25b0da35c07f0b","type":"mqtt in","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","name":"","topic":"itlab/dryer/rtdata","qos":"2","datatype":"auto-detect","broker":"943d6268c98478c9","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":100,"wires":[["f679ded0e230dea6","b04c7c0deab760bb","cbbfb44844e87395","6dcd95a58ecd5624","80d52bb4e6c9f889"]]},{"id":"fc4f74f115d94eb2","type":"mqtt in","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","name":"","topic":"itlab/dryer/sensors","qos":"2","datatype":"auto-detect","broker":"943d6268c98478c9","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":700,"wires":[["db9857878b0664e8","542db5bdc045cfc8"]]},{"id":"1d6520d8c8cba528","type":"mqtt out","z":"df51f7b148ab9bdf","g":"dfb9cc3be6df91ae","name":"","topic":"itlab/dryer/commands/remote_mode_override","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"943d6268c98478c9","x":1490,"y":180,"wires":[]},{"id":"64c9701b60867364","type":"inject","z":"df51f7b148ab9bdf","g":"dfb9cc3be6df91ae","name":"OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":970,"y":280,"wires":[["1d6520d8c8cba528"]]},{"id":"c67ae87b90d5489c","type":"inject","z":"df51f7b148ab9bdf","g":"dfb9cc3be6df91ae","name":"REG_REMOTE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":1000,"y":320,"wires":[["1d6520d8c8cba528"]]},{"id":"2316eee3976f4539","type":"inject","z":"df51f7b148ab9bdf","g":"e0fa7bf8e8ce21d9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":980,"y":620,"wires":[["71935a95158b302e"]]},{"id":"457699f33bad6ea0","type":"ui-slider","z":"df51f7b148ab9bdf","g":"e0fa7bf8e8ce21d9","group":"d1c89c89d18891ef","name":"PWM FAN","label":"Fan","tooltip":"","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"false","min":0,"max":"255","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"blue","colorTrack":"","colorThumb":"","x":1190,"y":700,"wires":[["423876b721be9ec5"]]},{"id":"d006ce85627d664c","type":"ui-slider","z":"df51f7b148ab9bdf","g":"e0fa7bf8e8ce21d9","group":"d1c89c89d18891ef","name":"PWM LED","label":"LED","tooltip":"","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"false","min":0,"max":"255","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"orange","colorTrack":"","colorThumb":"","x":1190,"y":880,"wires":[["69879b9468812f39"]]},{"id":"96f61295fc83d748","type":"ui-button","z":"df51f7b148ab9bdf","g":"dfb9cc3be6df91ae","group":"8fbbddd5ef293179","name":"","label":"OFF","order":2,"width":"1","height":"1","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"'grey'","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":950,"y":100,"wires":[["1d6520d8c8cba528"]]},{"id":"376dc8727913d25e","type":"ui-button","z":"df51f7b148ab9bdf","g":"dfb9cc3be6df91ae","group":"8fbbddd5ef293179","name":"","label":"REG. REMOTE","order":3,"width":"1","height":"1","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"3","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"'green'","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":980,"y":220,"wires":[["1d6520d8c8cba528"]]},{"id":"61ad2bc2ad6e34ee","type":"ui-button","z":"df51f7b148ab9bdf","g":"dfb9cc3be6df91ae","group":"8fbbddd5ef293179","name":"","label":"REG. TEMP","order":4,"width":"1","height":"1","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"'orange'","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":970,"y":140,"wires":[["1d6520d8c8cba528"]]},{"id":"da1bc88d38e141b4","type":"ui-button","z":"df51f7b148ab9bdf","g":"dfb9cc3be6df91ae","group":"8fbbddd5ef293179","name":"","label":"REG. HUMI","order":5,"width":"1","height":"1","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"2","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"'orange'","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":970,"y":180,"wires":[["1d6520d8c8cba528"]]},{"id":"94a91ac3dc9af920","type":"ui-slider","z":"df51f7b148ab9bdf","g":"e0fa7bf8e8ce21d9","group":"d1c89c89d18891ef","name":"PWM HEATER","label":"Heater","tooltip":"","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"false","min":0,"max":"255","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"blue","colorTrack":"","colorThumb":"","x":1200,"y":580,"wires":[["0d910210b875df0a"]]},{"id":"cc3f742294ad0954","type":"ui-text","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","group":"8fbbddd5ef293179","order":1,"width":"1","height":"1","name":"","label":"Current Mode","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":620,"y":220,"wires":[]},{"id":"b04c7c0deab760bb","type":"change","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","name":"mode","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.mode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":140,"wires":[["cc3f742294ad0954","75605ead56d513ae"]]},{"id":"db9857878b0664e8","type":"change","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":680,"wires":[["a3aacc82843d7118","fd9f1b770b5a21ad"]]},{"id":"542db5bdc045cfc8","type":"change","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","name":"humi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humi","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"humi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":740,"wires":[["4f4a2a9e340d4eb6","fd9f1b770b5a21ad"]]},{"id":"a3aacc82843d7118","type":"ui-gauge","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","name":"","group":"b13f2e908b23b2f7","order":2,"width":3,"height":3,"gtype":"gauge-half","gstyle":"needle","title":"Temp","units":"°C","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#3860ff"},{"from":"35","color":"#ffc800"},{"from":"65","color":"#ea5353"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":670,"y":680,"wires":[]},{"id":"4f4a2a9e340d4eb6","type":"ui-gauge","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","name":"","group":"b13f2e908b23b2f7","order":1,"width":3,"height":3,"gtype":"gauge-half","gstyle":"needle","title":"Humi","units":"%","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#02e364"},{"from":"50","color":"#ffc800"},{"from":"65","color":"#ea5353"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":670,"y":740,"wires":[]},{"id":"fd9f1b770b5a21ad","type":"ui-chart","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","group":"7296c547826d91fe","name":"","label":"Sensors","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"HH:mm","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":"0","ymax":"100","bins":10,"action":"append","stackSeries":false,"pointShape":"false","pointRadius":4,"showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":6,"height":8,"className":"","interpolation":"cubic","x":680,"y":620,"wires":[[]]},{"id":"cbbfb44844e87395","type":"change","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","name":"heater","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.heater_pwm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"heater","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":360,"wires":[["3722062762ece6e2"]]},{"id":"3722062762ece6e2","type":"ui-chart","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","group":"7296c547826d91fe","name":"","label":"PWM","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"HH:mm","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":"0","ymax":"255","bins":10,"action":"append","stackSeries":false,"pointShape":"false","pointRadius":4,"showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"","colors":["#ffa200","#009dff","#d7ff0f","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":6,"height":8,"className":"","interpolation":"step","x":670,"y":420,"wires":[[]]},{"id":"6dcd95a58ecd5624","type":"change","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","name":"fan","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.fan_pwm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"fan","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":420,"wires":[["3722062762ece6e2"]]},{"id":"80d52bb4e6c9f889","type":"change","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","name":"led","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.led_pwm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"led","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":480,"wires":[["3722062762ece6e2"]]},{"id":"75605ead56d513ae","type":"switch","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","name":"mode is remote ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"neq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":300,"wires":[[],["fc0c1f41e7df99d7"]]},{"id":"fc0c1f41e7df99d7","type":"link out","z":"df51f7b148ab9bdf","g":"5bbcfd2e039d0410","name":"mode not remote","mode":"link","links":["b6ebc624538939ef"],"x":745,"y":340,"wires":[]},{"id":"b6ebc624538939ef","type":"link in","z":"df51f7b148ab9bdf","g":"e0fa7bf8e8ce21d9","name":"link in 1","links":["fc0c1f41e7df99d7"],"x":845,"y":580,"wires":[["168dfe5a08859351"]]},{"id":"168dfe5a08859351","type":"change","z":"df51f7b148ab9bdf","g":"e0fa7bf8e8ce21d9","name":"set to zero","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":580,"wires":[["94a91ac3dc9af920","457699f33bad6ea0"]]},{"id":"943d6268c98478c9","type":"mqtt-broker","name":"itlab_broker","broker":"192.168.2.2","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"d1c89c89d18891ef","type":"ui-group","name":"PWM Controls","page":"e3466bd6659e9187","width":"6","height":"1","order":3,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"8fbbddd5ef293179","type":"ui-group","name":"Remote Commands","page":"e3466bd6659e9187","width":"6","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"b13f2e908b23b2f7","type":"ui-group","name":"Sensors","page":"e3466bd6659e9187","width":"6","height":"1","order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"7296c547826d91fe","type":"ui-group","name":"Charts","page":"e3466bd6659e9187","width":"6","height":"1","order":4,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"e3466bd6659e9187","type":"ui-page","name":"3D Printer Filament Dryer","ui":"b0264adda75794ff","path":"/page1","icon":"home","layout":"notebook","theme":"00db1b3a5f6356de","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"b0264adda75794ff","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"showPageTitle":true,"navigationStyle":"default","titleBarStyle":"default"},{"id":"00db1b3a5f6356de","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]